mixin video(video) 
    div 
        h4 
            a(href=`/videos/${video.id}`)=video.title 
        p #{video.description.length >= 60 ? `${video.description.slice(0, 60)}...` : video.description} 
        ul 
            each hashtag in video.hashtags 
                li=hashtag
        small=video.createdAt 
        hr