mixin video(video) 
    div(class="video-mixin") 
        a.video-mixin__thumb(href=`/videos/${video.id}`, style=`background-image:url(${video.thumbnailUrl});background-size:cover;background-position:center;`) 
        div.video-mixin__data 
            a.video-mixin__title(href=`/videos/${video.id}`) #{video.title.length > 19 ? `${video.title.slice(0, 19)}...` : video.title}  
            div.video-mixin__meta 
                a(href=`/users/${video.owner._id}`)=video.owner.username
                a(href=`/videos/${video.id}`)=video.createdAt
                a(href=`/videos/${video.id}`) #{video.meta.views} #{video.meta.views <= 1 ? "view" : "views"}